.header, .header-background, .header-social {
	position: absolute;
	bottom: 20px;
	right: 20px;
	color: white;
	font-size: 125%;

	a {
		color: white;
		text-decoration: underline;
		margin: 0 10px;
	}
	z-index: 1000;
}
.header-background {
	transition: background-color 0.5s ease;
}
.header-social {
	display: none;
}

.fix-header {
	.header, .header-background {
		position: fixed;
		top: 0px;
		left: 0px;
		padding: 10px;
		height: 20px;
		text-align: right;
		min-width: @min-width;
		a {
			text-decoration: none;
		}
	}
	.header-background {
		display: block;
		width: 100%;
		background-color: @cuban-blue;
		border-bottom: 1px solid white;
		min-width: @min-width;
	}
	.header-social {
		display: block;
		left: 0px;
		top: 0px;
		position: fixed;
		margin: 7px;
		width: 260px;
		a {
			padding: 2px;
		}
	}
}