.header, .header-background, .header-social {
	position: absolute;
	bottom: 20px;
	right: 20px;
	color: white;
	font-size: 125%;

	a {
		color: white;
		text-decoration: underline;
		margin: 0 10px;
		text-shadow: 1px 1px black;
	}
}
.header-social {
	display: block;
	left: 10px;
	bottom: 11px;
	position: absolute;
	width: 260px;
	a {
		padding: 0px;
	}
}
