@import "./page.less";
@import "./concerts.less";
@import "./references.less";
@import "./live.less";
@import "./members.less";
@import "./intro.less";
@import "./header.less";
@import "./contact.less";

@cuban-blue: #2760AB;
@cuban-green: #27AB60;
@cuban-red: #D11F1F;

@min-width: 734px;

body {
	padding: 0;
	margin: 0;
	min-width: @min-width;
}

.footer {
	background: @cuban-red;
	position: relative;
	z-index: 1;
	color: white;
	padding: 10px;
	text-align: center;
}

.content {
	padding: 10px;
	max-width: 700px;
}


a.pure-button-primary {
	background-color: @cuban-blue;
	font-size: 125%;
}

.center {
	text-align: center;
}

.z-index-1200 {
	z-index: 1200;
}

/*
When setting the primary font stack, apply it to the Pure grid units along
with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use
specific font stacks to ensure the greatest OS/browser compatibility.
*/
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'David Libre', cursive, serif;
}
