.page {
  position: relative;
  padding: 0;
  margin: 0;
}
.page-poster {
  height: 100vh;
  width: 100%;
  background: white;
  position: absolute;
  top: -100vh;
  left: 0;
}
.page-poster--1 {
  background: url("../img/esquina_latina_hq1.jpg") white no-repeat center center fixed;
}
.page-poster--2 {
  background: url("../img/esquina_latina_hq2.jpg") white no-repeat center center fixed;
}
.page-poster--border {
  border: 1px solid white;
  margin: 10px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.page-content {
  position: relative;
  margin-top: 100vh;
  background: white;
  border-top: 40px solid #2760AB;
  border-bottom: 40px solid #2760AB;
}
.page-content p,
.page-content h2,
.page-content h3,
.page-content iframe {
  padding: 10px;
  max-width: 700px;
}
.page-logo {
  text-align: center;
  margin-top: 10px;
}
.landscape .page-poster {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.portrait .page-poster {
  position: relative;
  background-size: 100%;
  background-position: 0 0;
  background-attachment: scroll;
  width: 667px;
  height: 444px;
  top: 0;
  background-color: #2760AB;
}
.portrait .page-poster--border {
  top: 0;
}
.portrait .page-content {
  margin-top: 0;
}
.portrait .page-logo--1 img {
  width: 280px;
}
body {
  padding: 0;
  margin: 0;
  min-width: 667px;
}
.footer {
  background: #D11F1F;
  position: relative;
  z-index: 1;
  color: white;
  padding: 10px;
}
/*
When setting the primary font stack, apply it to the Pure grid units along
with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use
specific font stacks to ensure the greatest OS/browser compatibility.
*/
html,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
  font-family: 'David Libre', cursive, serif;
}
