.page {
  position: relative;
  padding: 0;
  margin: 0;
}
.page-poster {
  height: 100vh;
  width: 100%;
  background: white;
  position: absolute;
  top: -100vh;
  left: 0;
}
.page-poster--1 {
  background: url("../img/esquina_latina_hq1_667.jpg") white no-repeat center center fixed;
}
.page-poster--2 {
  background: url("../img/esquina_latina_hq2_667.jpg") white no-repeat center center fixed;
}
.page-poster--border {
  border: 1px solid white;
  margin: 10px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.page-content {
  position: relative;
  margin-top: 100vh;
  background: white;
  border-top: 40px solid #2760AB;
  border-bottom: 40px solid #2760AB;
}
.page-logo {
  text-align: center;
  margin-top: 10px;
}
@media all and (orientation: landscape) {
  .page-poster {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
@media all and (orientation: portrait) {
  .page-poster {
    position: relative;
    background-size: 100%;
    background-position: 0 0;
    background-attachment: scroll;
    width: 667px;
    height: 443px;
    top: 0;
    margin-top: -10px;
    background-color: #2760AB;
  }
  .page-poster--border {
    top: 0;
  }
  .page-content {
    margin-top: 0;
  }
  .page-logo--1 img {
    width: 280px;
  }
}
@media all and (min-width: 668px) {
  .page-poster--1 {
    background-image: url("../img/esquina_latina_hq1_1024.jpg");
  }
  .page-poster--2 {
    background-image: url("../img/esquina_latina_hq2_1024.jpg");
  }
}
@media all and (min-width: 1025px) {
  .page-poster--1 {
    background-image: url("../img/esquina_latina_hq1_1536.jpg");
  }
  .page-poster--2 {
    background-image: url("../img/esquina_latina_hq2_1536.jpg");
  }
}
@media all and (min-width: 1537px) {
  .page-poster--1 {
    background-image: url("../img/esquina_latina_hq1_2048.jpg");
  }
  .page-poster--2 {
    background-image: url("../img/esquina_latina_hq2_2048.jpg");
  }
}
@media all and (min-width: 2049px) {
  .page-poster--1 {
    background-image: url("../img/esquina_latina_hq1.jpg");
  }
  .page-poster--2 {
    background-image: url("../img/esquina_latina_hq2.jpg");
  }
}
.concerts {
  margin-top: 30px;
  text-align: right;
}
.concerts .concert {
  padding: 10px;
  max-width: 700px;
  border-right: 2px solid grey;
  margin: 10px;
}
.concerts .concert a {
  color: black;
  font-weight: bold;
  text-decoration: underline;
  display: block;
}
.references .reference {
  padding: 10px;
  max-width: 700px;
  border-left: 2px solid grey;
  margin: 10px;
}
.live {
  text-align: center;
}
.live p,
.live h2,
.live iframe {
  padding: 10px;
  max-width: 700px;
}
.members .member {
  padding: 10px;
  max-width: 700px;
}
.members .member.left {
  border-right: 2px solid grey;
  text-align: right;
  margin: 10px;
}
.members .member.right {
  border-left: 2px solid grey;
  text-align: left;
  margin: 10px;
}
.intro p,
.intro h1,
.intro h2,
.intro h3,
.intro iframe {
  padding: 10px;
  max-width: 700px;
}
.header {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: white;
  font-size: 125%;
  z-index: 1000;
  transition: background-color 0.5s ease;
}
.header a {
  color: white;
  text-decoration: underline;
  margin: 0 10px;
}
.fix-header .header {
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 10px;
  background-color: #2760AB;
  border-bottom: 1px solid white;
  height: 20px;
  width: 100%;
  text-align: right;
}
.fix-header .header a {
  text-decoration: none;
}
body {
  padding: 0;
  margin: 0;
  min-width: 667px;
}
.footer {
  background: #D11F1F;
  position: relative;
  z-index: 1;
  color: white;
  padding: 10px;
}
.content {
  padding: 10px;
  max-width: 700px;
}
.pure-button-primary {
  background-color: #2760AB;
  font-size: 125%;
}
.center {
  text-align: center;
}
/*
When setting the primary font stack, apply it to the Pure grid units along
with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use
specific font stacks to ensure the greatest OS/browser compatibility.
*/
html,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
  font-family: 'David Libre', cursive, serif;
}
