.header 
    a(href="#esquina") Esquina Latina 
    a(href="#concerts") Konzerte 
    a(href="#band") Band 
    a(href="#live") Video 
    a(href="#contact") Kontakt
.header-social
    a(href="https://www.facebook.com/EsquinaLatinaBerlin", target="_blank")
        img(src="img/social/facebook.png", width="24", height="24")
    a(href="https://www.instagram.com/esquinalatinaberlin/", target="_blank")
        img(src="img/social/Instagram.png", width="24", height="24")
    a(href="https://twitter.com/EsquinaBerlin", target="_blank")
        img(src="img/social/twitter.png", width="24", height="24")
    a(href="http://www.youtube.com/esquinalatinaberlin", target="_blank")
        img(src="img/social/youtube.png", width="24", height="24")
    a(href="http://www.soundcloud.com/Latin-Berlin", target="_blank")
        img(src="img/social/soundcloud.png", width="24", height="24")