.header-background 
.header 
    a(href="#esquina") Esquina Latina 
    a(href="#concerts") Konzerte 
    a(href="#band") Band 
    a(href="#live") Video 
    a(href="#contact") Kontakt
.header-social
    a(href="#")
        img(src="img/social/facebook.png", width="24", height="24")
    a(href="#")
        img(src="img/social/Instagram.png", width="24", height="24")
    a(href="#")
        img(src="img/social/twitter.png", width="24", height="24")
    a(href="#")
        img(src="img/social/youtube.png", width="24", height="24")
    a(href="#")
        img(src="img/social/soundcloud.png", width="24", height="24")