doctype html
html
    head
        link(rel="stylesheet" href="css/pure.min.css")
        link(rel="stylesheet" href="css/style.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=David+Libre")
    body(class="landscape")
        .page
            .page-poster.page-poster--1
                .page-poster--border

                .page-logo.page-logo--1
                    img(src="img/hatBanner.png")
            .page-content
                include page-content--1
        .page
            .page-poster.page-poster--2
                .page-poster--border
            .page-content
                include page-content--2
        .footer imprint, links, kontakt

        script(src="js/app.js")
