.pure-g
    .pure-u-2-5
        h2 Youtube Playlist
        iframe(src="https://www.youtube.com/embed/videoseries?list=PLAB8494703FC46D7D", frameborder="0", allowfullscreen)
    .pure-u-1-5
    .pure-u-2-5
        h3 Referenzen

        p Salsa Party im Artenschutztheater

        p Salsa Party im Artenschutztheater
