.pure-g
    .pure-u-2-5
        h3 Aktuelles

        p.
            Salsa Party im Artenschutztheater
            16.09.2016, 20:00

        p.
            Salsa Party im Artenschutztheater
            18.11.2016, 20:00</p>
    .pure-u-3-5
        h2 Esquina Latina

        p some text
