.pure-g#contact
    .pure-u-2-5
    .pure-u-2-5
        .contact
            h2 Kontakt
    .pure-u-2-5
        .contact.address
            p
                a(href="mailto:booking@esquina-latina.de") booking@esquina-latina.de

            p.
                0123 - 45 67 89 00
    .pure-u-2-5
        .contact
            p
                | Wir bieten Ihnen eine attraktive Möglichkeit ihrer 
                strong Veranstaltung 
                | eine hochwertige musikalische Begleitung und einen exotischen Touch zu verleihen. Salsa spricht Jung und Alt an und animiert zum Tanzen, Feiern oder auch nur Lauschen.
            p  
                | Er kann kraftvoll aber auch sehr dezent sein und eignet sich somit fast für jede Art von Veranstaltung. Kontaktieren Sie uns, um ihre 
                strong Hochzeit, Geburtstag, Firmenfeier 
                | usw. zum unvergesslichen 
                strong Erfolg 
                | werden zu lassen.

