.page-content-banner
.pure-g
    .pure-u-2-5
        h3 Aktuelles

        p.
            Salsa Party im Artenschutztheater
            16.09.2016, 20:00

        p.
            Salsa Party im Artenschutztheater
            18.11.2016, 20:00</p>
    .pure-u-3-5
        h2 Esquina Latina

        p
            strong Esquina Latina 
            | – was heißt das eigentlich? „Esquina“ ist das spanische Wort für „Ecke“ und was „Latina“ bedeutet, können Sie sich bestimmt denken. Aber Esquina Latina bedeutet noch viel mehr! Unsere Band „Esquina Latina“ besteht aus neun BerlinerInnen, die durch ihre Liebe zur Musik zusammengefunden haben. Seit 2010 spielen wir gemeinsam lateinamerikanische Rhythmen.
        p.
            Die Welt der lateinamerikanischen Musik ist groß - uns hat es besonders die afrokubanische Salsa angetan. Deshalb haben wir uns der anspruchsvollen Aufgabe verschrieben, traditionelle Musik von Künstlern wie Bebo Valdez, Ray Barretto oder „Buena Vista Social Club“ zu interpretieren. Wichtig ist uns dabei, die Wurzeln der Musik im Auge zu behalten und gleichzeitig unsere ganz eigenen Versionen zu entwickeln. Mit wieviel Leidenschaft wir da bei der Sache sind, können Sie gerne bei einem unserer Live Auftritte sehen. Kommen Sie vorbei, fühlen Sie den Rhythmus und lassen Sie sich von der guten Stimmung zum Tanzen animieren.

        p.
            Auf unserer Website finden Sie sowohl mehr Informationen über die einzelnen Bandmitglieder, als auch darüber, wie Salsa-Rhythmen aufgebaut sind, und natürlich viele schöne Fotos, Videos und Studioaufnahmen.

        p.  
            Viel Spaß dabei und nos vemos pronto – bis bald!
