.pure-g
    .pure-u-2-5
    .pure-u-3-5
        h2 Esquina Latina
    .pure-u-2-5
        .concerts
            .concert
                a(href="#") Salsa Party im Artenschutztheater
                span 16.09.2016, 20:00

            .concert
                a(href="#") Salsa Party im Artenschutztheater
                span 18.11.2016, 20:00

    .pure-u-3-5
        .intro 
            p
                strong Esquina Latina 
                | – was heißt das eigentlich? 
                i „Esquina“ 
                |   ist das spanische Wort für 
                i „Ecke“ 
                | und was 
                i „Latina“ 
                | bedeutet, können Sie sich bestimmt denken. Aber 
                strong Esquina Latina 
                | bedeutet noch viel mehr! Unsere Band 
                strong Esquina Latina 
                | besteht aus zehn BerlinerInnen, die durch ihre Liebe zur Musik zusammengefunden haben. Seit 2010 spielen wir gemeinsam lateinamerikanische Rhythmen.
            p   Die Welt der lateinamerikanischen Musik ist groß - uns hat es besonders die 
                strong afrokubanische Salsa 
                | angetan. Deshalb haben wir uns der anspruchsvollen Aufgabe verschrieben, traditionelle Musik von Künstlern wie 
                i Bebo Valdez
                | , 
                i Ray Barretto 
                | oder 
                i „Buena Vista Social Club“
                |  zu interpretieren. Wichtig ist uns dabei, die Wurzeln der Musik im Auge zu behalten und gleichzeitig unsere ganz eigenen Versionen zu entwickeln. Mit wieviel Leidenschaft wir da bei der Sache sind, können Sie gerne bei einem unserer 
                strong Live Auftritte 
                | sehen. Kommen Sie vorbei, fühlen Sie den Rhythmus und lassen Sie sich von der guten Stimmung zum 
                strong Tanzen 
                | animieren.

            p   
                strong Viel Spaß 
                | dabei und nos vemos pronto – bis bald!

            p
                a(class="pure-button pure-button-primary", href="#contact") Buchungsanfrage
