.center
    h2 Bandmitglieder
.members 
    .pure-g
        .pure-u-1-5
        .pure-u-3-5
            .member.left 
                h4 Lea - Gesang

                p 
                    | Spanisch singen und zu lateinamerikanischen Rhythmen tanzen? Als Sängerin und Frontfrau der Band kann ich gleich mehrere Leidenschaften miteinander verbinden. Und wenn ich nicht gerade mit Esquina Latina auf der Bühne stehe, mache ich Acapella Musik, Kung Fu und düse als Einzelfall- und Familienhelferin durch Berlin. Außerdem koche ich leidenschaftlich gerne veganes Essen!

    .pure-g
        .pure-u-1-5
        .pure-u-3-5
            .member.right
                h4 Fred - Baritonsaxophon

                p 
                    | Im Bläsersatz bei Esquina Latina bin ich für die tiefen Töne zuständig! Als Weddinger freue ich mich jede Woche, dass ich unseren Probenraum an der Osloer Straße fahrradfahrend mit meinem Baritonsaxophon auf dem Rücken erreichen kann. Und wer mich hier trifft, kann mir gerne Feedback zu unserer Website geben (die hab ich nämlich gemacht) oder Lieblingsmusik vorspielen.

    .pure-g
        .pure-u-1-5
        .pure-u-3-5
            .member.left
                h4 Lea - Gesang

                p 
                    | Spanisch singen und zu lateinamerikanischen Rhythmen tanzen? Als Sängerin und Frontfrau der Band kann ich gleich mehrere Leidenschaften miteinander verbinden. Und wenn ich nicht gerade mit Esquina Latina auf der Bühne stehe, mache ich Acapella Musik, Kung Fu und düse als Einzelfall- und Familienhelferin durch Berlin. Außerdem koche ich leidenschaftlich gerne veganes Essen!
    .pure-g
        .pure-u-1-5
        .pure-u-3-5
            .member.right
                h4 Fred - Baritonsaxophon

                p 
                    | Im Bläsersatz bei Esquina Latina bin ich für die tiefen Töne zuständig! Als Weddinger freue ich mich jede Woche, dass ich unseren Probenraum an der Osloer Straße fahrradfahrend mit meinem Baritonsaxophon auf dem Rücken erreichen kann. Und wer mich hier trifft, kann mir gerne Feedback zu unserer Website geben (die hab ich nämlich gemacht) oder Lieblingsmusik vorspielen.

